$black : BLACK;
$dark-gray : rgb(14, 26, 40);
$dark-blue : rgb(11, 20, 31);
$neon-blue : rgb(13, 232, 255);
$hovered-blue : #008a87;
$red : #c00000;
$gray: #a1a1a1;
$white: WHITE;
$primary-font: Arial, Helvetica, sans-serif;


